<div class="jumbotron text-center">
<h2>Registered user list</h2>
</div>
<table class="table table-striped table-hover">	
	<thead>
		<tr> 
			<th>User name</th>
			<th>User email</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.email %></td>
			</tr>
		<% end %>
	</tbody>
</table>